{% extends 'base.html.twig' %}

{% block title %}Gestion des photos de chatons{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <ul>
        {% for c in categories %}
            <li>

                {{ c.Titre }}
                <a href="{{ path('app_categorie_modifier', {'id': c.id}) }}" class="btn btn-primary">Modifier</a>
                <a href="{{ path('app_categorie_supprimer', {'id': c.id}) }}" class="btn btn-danger">Supprimer</a>
                <a href="{{ path('app_categorie_show', {'id': c.id}) }}" class="btn btn-info">Voir</a>

            </li>
        {% endfor %}
    </ul>
    <h2>Ajouter une catégorie :</h2>
    <a href="{{ path('app_categorie_ajouter') }}" class="btn btn-success">Ajouter une catégorie</a>

    <h1>Liste des images enregistrées</h1>
    <a href="{{ path('app_chaton_index') }}" class="btn btn-success">Retour à la liste des chats</a>

{% endblock %}