{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ categorie.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.Description }}</td>
            </tr>
            <tr>
                <th>Liste des images</th>
                <td>
                    <ul>
                        {% for img  %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home') }}">back to list</a>

    <a href="{{ path('app_categorie_modifier', {'id': categorie.id}) }}">edit</a>
{% endblock %}